
#title
{
  margin-bottom: 10px;
  padding-top: 40px;
}

#title h1
{
  font-size: 70px;
}

#disabled-mask
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transition: opacity 600ms;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%, rgba(0,212,255,1) 100%);
}

.subfilter
{
  color: lightgray;
  background-color: black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subfilter span
{
  margin-right: 20px;
  margin-left: 20px;
  font-weight: bold;
}

.filters
{
  padding-bottom: 20px;
}

#period-filter-div
{
  padding-left: 30%;
  padding-right: 30%;
}

#period-filter button
{
  margin: 0px 3% 0px 3%;
}

#loader-parent
{
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.loader {
  display: inline-block;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  z-index: 6;
  animation: spin 2s linear infinite;
  opacity: 0;
  transition: opacity 600ms;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.chart
{
  margin-top: 20px;
  margin-bottom: 20px;

  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: black;
}

.container
{
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Dataframe styling */
#dataframe
{
  margin-top: 60px;
  overflow: auto;
  width: 100%;
}

#dataframe table {
  border: 1px solid #dededf;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

#dataframe caption {
  caption-side: top;
  text-align: left;
}

#dataframe th {
  border: 1px solid #dededf;
  background-color: #eceff1;
  color: #000000;
  padding: 5px;
}

#dataframe td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}
/* ----------------- */
